@import 'tailwindcss';

@font-face {
  font-family: 'Escolar1';
  src: url('/fonts/Escolar_G.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f5f5f5;
  --foreground: #3d3d3d;
  --marca: #40e0d0;
  --marca-hover: #3bc9bd;

  --verbos: #f4a460;
  --personas: #daa520;
  --adjetivos: #228b22;
  --objetos: #4682b4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-marca: var(--marca);
  --color-marca-hover: var(--marca-hover);

  --color-verbos: var(--verbos);
  --color-personas: var(--personas);
  --color-adjetivos: var(--adjetivos);
  --color-objetos: var(--objetos);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-escolar {
  font-family: 'Escolar1', cursive, sans-serif;
}
